@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media query manager
/*
	0 ~ 600px : phone
	600 ~ 900px : tablet portrait
	900 ~ 1200px : tablet landscape
	[1200 ~ 1800] normal style
	1800px + : big desktop
*/

/*
$breakpoint argument choices: 
- phone 
- tab-port
- tab-land
- big-desktop
*/
// 1em - 16px;
// em으로 하는 이유는 rem이 간헐적으로 안되기 떄문
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
